# Virtual Environment
yolovenv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# IDE settings
.vscode/
.idea/

# Output files
static/outputs/*

# Local scripts
run_locally.bat

# Media files
*.mp4
*.jpg

# Environment Variables
.env
