

# Python cache
__pycache__/
*.pyc

# IDE settings
.vscode/
.idea/

# System Metadata
Thumbs.db
.DS_Store

# Output files
frontend/static/outputs/*



# Media files
*.mp4
*.jpg

# Environment Variables
.env
